/* Inserta tu CSS aqui */
.verde{
	width: 800px;
	height: 500px;
	background-color: green;
	padding: 30px;
	
}
.interior{
	
    border: 3px solid #ffffff;
    width: 750px;
    height: 450px;
    margin:15px 20px 15px 20px;
}
    
    .interior1{

	
    border: 3px solid #ffffff;
    width: 150px;
    height: 250px;
    margin-top: 100px;
    background: #5cb85c;


 }

 .interior2{
	
    border: 3px solid #ffffff;
    width: 150px;
    height: 250px;
    
    position: absolute;
    right: 550px;
    top: 150px;
    background: #5cb85c;
   

 }
 
 .circulo
 { 

	  width: 250px;
     height: 250px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     
     border: 3px solid #ffffff;
    position: absolute;
    right: 250px;
}

.boli1{
	
    right: 750px;
    top: 300px;
}
.boli2{
	position: absolute;
    right: 950px;
    top: 200px;
}
.boli3{

    right: 1000px;
    top: 300px;
}